body {
	color: #000000;
}

p { 
/*	color: #000000; */
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	margin-top: 0;
	color: #00aa00;
}

/* padding is INSIDE, margin is OUTSIDE */

/* test out button, replace with DIV later */


/* --- main components --- */

nav {
	background-color: black;
	color: green;
	border: 2px solid green;
	min-width: 1300px;
	/* display: none; */
}

#game {
	position: absolute;
	bottom: 0;
	top: 35px;
	width: 100%;
	height: 90%;
	min-width: 1300px;
	margin: 1px 0px 0px 0px;
	border: 1px dotted black;
	height: auto;
	/* white-space: nowrap; */
	background-color: #002200;
}

.column {
	min-height: 80%;
	height: 100%;
	display: inline-block;
	margin-top: 2px;
	/* margin-left: 0px;
	margin-right: 0px; */
	overflow-x: hidden;
	overflow-y: auto;
	vertical-align: top;
}

#leftblock { 
	width: 25%;
	max-width: 400px;
	min-width: 300px;
	height: 100%;
	background-color: #005500;
	color: black;
	border: 1px dotted blue;
	margin-right: 10px;	
	padding: 0px;
}

#midblock {
	width: 630px;
	border: 1px dotted red;
	margin: 0px; /* T R B L */
	padding: 0px; /* 10px 10px 10px; */
}

#rightblock {
/*	width: 95%;  */
	max-width: 320px;
	min-width: 240px;
	border: 1px dotted red;
	vertical-align: top;
	position: relative;
	overflow-y: hidden;
}	




/* ----- controls for resource panel ---- *
 * ---- style for hidden class at end --- */

.resource {
	background-color: #ffffff;
	border-radius: 10px;
	border: 1px solid #ffffff;
	padding: 2px;
	margin: 2px;
	min-width: 300px;
	max-width: 100%;
}

.resource div {      /* -- for various resource-related blocks within the resource rows -- */
	display: inline-block;
	margin: 0px;
	padding: 2px;
/*	border: 1px solid yellow; */
}

.resourceName {
	width: 30%;
}
	
.resourceValue {
	width: 20%;
	text-align: right;
}

.resourcePer {
	width: 20%;
}

.resourceMax {
	width: 20%;
	color: #666666;
}




/* -- buttons in middle column here -- */

.buttonMap {
	display: flex;
	flex-flow: row wrap;
	/* border: 1px solid yellow; */
	background-color: yellow;
}

.buttonContainer {
/*	width: 260px; */
	flex: 0 0 200px;
	margin: 3px;
	padding: 0px;
	border: none; /* 1px solid #dddddd; */
}

.collapsible {
	background-color: #eeeeee;
	color: #444444;
	cursor: pointer;
	padding: 0px;
	margin-top: 10px;
	width: 199px;
	border: 1px solid blue;
	text-align: left;
	outline: none;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.collapsible:hover {
	background-color: #ccccdd;
}

.collapsible:focus {
	background-color: #ccaadd;
}

.buttonLabel {
	width: 164px;
	border: none; /*1px solid black; */
	margin: 0px;
	padding: 10px 0px 10px 10px;
	display: inline-block;
}

.notch {
	float: right;
	width: 25px;
	border: none; /* 1px solid black; */
	margin: 0;
	padding: 8px 0px; /* need to figure out how to limit size to size of parent block */
	vertical-align: middle;
	display: inline-block;
}

.content {
	padding: 5px 15px 5px 15px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
	width: 169px;
	border-top: 1px dotted black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 0 0 10px 10px;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}

.costs {
	padding-left: 5px;
}

.bldgCostPriceName {
	display: inline-block;
	width: 50%;
}

.bldgCostRes {
	display: inline-block;
	width: 30%;
	text-align: right;
}

.button {
	border-radius: 5px;
	border: 1px solid black;
	background-color: #dddddd;
	margin: 5px;
	padding: 2px;
}


/* -- right-side styles go here -- */

#calendarBlock {
	border: 1px solid blue;
	background-color: white;
	color: black;
	display: none;
}

#devButtons {
	border: 1px dashed red;
	background-color: #ddddff;
	color: black;
}

#devButtons p {
	text-align: center;
	font-weight: bold;
	color: black;
}

#messagebox {
	border: 1px solid green;
	min-height: 1em;
	padding: 5px;
	overflow-y: auto;
	
}

#messagebox p {
	margin-bottom: 5px;
	/* overflow-y: auto; */
}


/* -- miscellaneous styles with priority -- */

.panel {
	display: none;
}

.panel.active {
	display: block;
}

/* -- keep at end to ensure override -- */
.hidden {
	display: none;
}
